*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 16px;
}
/* ====================== header ============================= */
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-address {
  display: flex;
  gap: 14px;
  padding-left: 0;
}
.header-nav {
  display: flex;
  gap: 365px;
}
.header-nav-cards {
  display: flex;
  gap: 24px;
  padding-left: 0;
  align-items: center;
}
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}
.header-nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-social {
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  width: 40px;
  height: 40px;
  padding: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo {
  font-style: italic;
  margin-right: 4px;
}
.header-logo-svg {
  margin-left: 4px;
}
.header-social:hover {
  fill: #fd9222;
  border: 1px solid rgba(253, 146, 34, 0.1);
}
/*<!-- ====================== Start page section ====================== --> */
.start-page-section {
  margin-bottom: 80px;
}
.start-page-container {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/start-pages/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.start-page-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  width: 484px;
  height: 102px;
  margin-bottom: 32px;
}
.start-page {
  padding: 381px 40px 40px;
}
.angle-svg {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.angle-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.angle-scroll {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now {
  width: 144px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: #fd9222;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-right: 14px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now:hover {
  background-color: #fcf1e0;
  color: #fd9222;
  border: 1px solid #fcf1e0;
}
.how-its-made {
  width: 183px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: inherit;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-its-made:hover {
  color: #fd9222;
  border: 1px solid #fd9222;
}
.start-page-down {
  display: flex;
  justify-content: space-between;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.scroll:hover {
  .angle-text {
    color: #fd9222;
  }
  .angle-svg {
    fill: #fff;
  }
  .angle-scroll {
    background-color: #fd9222;
  }
}
/* <!-- ======================== Benefit section ============================--> */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefit-section-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.benefit-section-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  width: 308px;
}
.benefit-section {
  max-width: 1200px;
  margin: 0 auto;
  background: #1e1823;
  margin-bottom: 120px;
  /* padding: 50px; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.benefit-section > .container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
.benefit-section-icon {
  width: 62px;
  height: 62px;
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.benefit-cards {
  display: flex;
  gap: 88px;
  padding-left: 0;
}
.benefit-item {
  flex-basis: calc((100% - 2 * 88px) / 3);
  position: relative;
}
.benefit-item:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%);
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* <!-- ================================Ingridients section ============== --> */
.ingridients-section {
  margin-bottom: 120px;
}
.ingridients-icon {
  stroke: #fd9222;
  fill: white;
}
/* <!-- ============= How it's made section ========================= --> */

/* <!-- ====================== Products section =============== --> */

/* <!-- ===================== Best sellers section ========================= --> */

/* <!-- ================ reviews section =============================== --> */
