*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 16px;
}
/* ====================== header ============================= */
.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-address {
  display: flex;
  gap: 14px;
  padding-left: 0;
}
.header-nav {
  display: flex;
  gap: 365px;
}
.header-nav-cards {
  display: flex;
  gap: 24px;
  padding-left: 0;
  align-items: center;
}
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}
.header-nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-social {
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  width: 40px;
  height: 40px;
  padding: 8px;
}
.header-logo {
  font-style: italic;
  margin-right: 4px;
}
.header-logo-svg {
  margin-left: 4px;
}
.header-social:hover {
  fill: #fd9222;
}
/*<!-- ====================== Start page section ====================== --> */
.start-page-container {
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/start-pages/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.start-page-text {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  width: 484px;
  height: 102px;
}
.start-page-section {
  padding: 381px 40px 40px;
}
.angle-svg {
  fill: #fd9222;
}
.angle-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
.angle-scroll {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-now {
  width: 144px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  background-color: #fd9222;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.how-its-made {
  width: 183px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: inherit;
}
/* <!-- ======================== Beefit section ============================--> */

/* <!-- ================================Ingridients section ============== --> */

/* <!-- ============= How it's made section ========================= --> */

/* <!-- ====================== Products section =============== --> */

/* <!-- ===================== Best sellers section ========================= --> */

/* <!-- ================ reviews section =============================== --> */
